html{
    background-color: rgb(200, 200, 205);
    font-family: Arial, Helvetica, sans-serif;
}
body{
    width: 80%;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
}
.ay_header{
    background-color: rgb(40, 40, 40);
    height: 60px;
    min-width: 100%;
    display: flex; 
    justify-content:justify;
}
.ay_nav{       
    margin: auto;
    font-size: large;
}
.ay_nav li{    
    padding: 5px;
    display: inline;
}
.ay_nav li>a{    
    text-decoration: none;
    list-style: none;
    display: inline;
    color: white;
}
body p{
    text-align: justify;
}
.ay_container{
    width: 100%;
    display: flex;
    margin: auto;
}
.ay_container img{
    padding: 1%;
    width: 48%;
    text-align: left;
}

.ay_table{
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;   
    border-spacing: 0;
}
.ay_table td, th{
    padding: 15px;
    text-align: left;
    font-size: 20px;
    border: 1px solid rgb(170, 169, 169);
}

.ay_form{
	width: 100%;
	padding-top: 1rem;
	position:static;
    margin: auto;
}
.ay_form_element{
    padding: 2px;
    margin-bottom: 30px;
    height: 30px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgb(170, 169, 169);
}
.ay_button{
	padding: auto;
	margin-top:1rem;
	margin-bottom: 1rem;;
	width: 100%;
	height: 2.5rem;;
    border: 1px solid rgb(170, 169, 169);
	background-color: #cb2027;
	color:#ffffff;
}